PhysicianDirectory/Service References/ServiceReference3/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64175/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
  <xs:element name="GetAllPersonalInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="GetAllPersonalInfoResult" nillable="true" type="q1:ArrayOfPhysician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="GetAllContactInfoResult" nillable="true" type="q2:ArrayOfPhysician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpecialization">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpecializationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="GetAllSpecializationResult" nillable="true" type="q3:ArrayOfPhysician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Weight" type="xs:int" />
        <xs:element minOccurs="0" name="Height" type="xs:int" />
        <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="OfficeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficePhone" type="xs:long" />
        <xs:element minOccurs="0" name="EmailAdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CellphoneNumber" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HomePhone" type="xs:long" />
        <xs:element minOccurs="0" name="OfficeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficePhone" type="xs:long" />
        <xs:element minOccurs="0" name="EmailAdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CellphoneNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecializationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpecializationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceApp" minOccurs="0" name="GetAllUserByIdResult" nillable="true" type="q4:Physician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Weight" type="xs:int" />
        <xs:element minOccurs="0" name="Height" type="xs:int" />
        <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="OfficeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficePhone" type="xs:long" />
        <xs:element minOccurs="0" name="EmailAdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CellphoneNumber" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>